remoteIpAddress=44.104.85.253
remotePortNum=1995
remotePortExtra=1996
sectionMinSpeed=10
sectionMaxSpeed=31
rangeXMax=260
samplePoolNum=6000
device0isTunnel=0
device0KeyCenterLong=130
device0Range=260
device0CanName=can0
device0USBIndex=0
device0CanIndex=0
device0RadarModuleName=40821.module
device0GlobalRadarID=100905001
device0IncomingLaneNum=0
device0OutgoingLaneNum=3
device0StartOutgoingLaneNum=2
device0StartIncomingLaneNum=2
device0IsDriveRight=1
device0ChessboardFileName=
device1isTunnel=0
device1KeyCenterLong=130
device1Range=260
device1CanName=can1
device1USBIndex=0
device1CanIndex=0
device1RadarModuleName=40821.module
device1GlobalRadarID=100905001
device1IncomingLaneNum=3
device1OutgoingLaneNum=0
device1StartOutgoingLaneNum=2
device1StartIncomingLaneNum=2
device1IsDriveRight=1
device1ChessboardFileName=
device2isTunnel=0
device2KeyCenterLong=130
device2Range=260
device2CanName=can2
device2USBIndex=0
device2CanIndex=0
device2RadarModuleName=40821.module
device2GlobalRadarID=100905001
device2IncomingLaneNum=0
device2OutgoingLaneNum=3
device2StartOutgoingLaneNum=2
device2StartIncomingLaneNum=2
device2IsDriveRight=1
device2ChessboardFileName=
device3isTunnel=0
device3KeyCenterLong=130
device3Range=260
device3CanName=can3
device3USBIndex=0
device3CanIndex=0
device3RadarModuleName=40821.module
device3GlobalRadarID=100905001
device3IncomingLaneNum=3
device3OutgoingLaneNum=0
device3StartOutgoingLaneNum=2
device3StartIncomingLaneNum=2
device3IsDriveRight=1
device3ChessboardFileName=
