remoteIpAddress=44.104.85.253
remotePortNum=1995
remotePortExtra=1996
sectionMinSpeed=10
sectionMaxSpeed=31
rangeXMax=260
samplePoolNum=6000
device0isTunnel=0
device0KeyCenterLong=130
device0Range=260
device0CanName=can0
device0USBIndex=0
device0CanIndex=0
device0RadarModuleName=40821.module
device0GlobalRadarID=100900901
device0IncomingLaneNum=3
device0OutgoingLaneNum=3
device0StartOutgoingLaneNum=1
device0StartIncomingLaneNum=1
device0IsDriveRight=1
device0ChessboardFileName=
